.userPhoto {
  width: 100px;
  height: 100px;
}

.selectPage {
  font-weight: bold;
}

.pages {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  span {
    cursor: pointer;
    font-size: 10px;
  }
}

.preloader {
  position: relative;
  width: 10vw;
  height: 10vw;
  margin: 0 auto;
}