.nav {
  grid-area: n;
  background-color: #172f2f;
  gap: 5px;

  &__item {
    display: grid;
    justify-content: center;
    padding: 10px 0 10px 0;

    &.active {
      a {
        color: #9268d5;

      }
    }

    a {
      color: #e1e3e6;
      text-decoration: none;
    }

  }
}