.formControl {
  &.error {
    span {
      color: red;
    }

    textarea, input {
      border: 3px red solid;
    }
  }
}

.formSummaryError {
  border: 1px solid red;
  padding: 5px;
  color: red;
}