.dialogs {
  display: grid;
  grid-template-columns: 1fr 10fr;

  &__items {

  }

  &__item {
    a {
      color: whitesmoke;
    }

    &.active {
      a {
        color: #38ff00;
      }
    }
  }

  &__messages {

  }

  &__message {

  }
}