.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;

  &__items {

  }

  &__item {
    display: grid;
    grid-template-columns: 4fr 5fr;
    align-items: center;
    img {
      width: 60px;
      height: 60px;
      object-fit: cover;
      border-radius: 50%;
    }
    a {
      color: whitesmoke;
      text-decoration: none;
    }

    &.active {
      a {
        color: #38ff00;
      }
    }
  }

  &__messages {
  }

  &__message {
    display: grid;
    grid-template-columns: 5fr 5fr;

  }
}